@charset "UTF-8";

@import "modules/base";
@import "modules/colors";

.wrapper	{
	width: 100%;
	box-sizing: border-box;
	border-top: 2px solid $border;
	background-color: $bg;
}

.link-menu	{
	font-size: 2.2rem;
	&:hover	{
		color: $link-menu-hover;
	}
}

.main-content	{
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;
}

.headline	{
	font-size: 3.6rem;
	font-weight: 400;
}

.headline-main	{
	color: $headline-main;
}

.download	{
	padding-top: 40px;
}

.btn-download	{
	display: inline-block;
	text-align: center;
	padding: 6px;
	background-color: $btn-bg;
	color: $btn;
	border: 2px solid $border;
	font-size: 1.2rem;
	&:hover	{
		background-color: $btn-bg-hover;
		color: $btn-hover;
		border: 2px solid $btn-border-hover;
	}
}

.sidebar	{
	background-color: $sidebar-bg;
	li + li	{
		margin-top: 12px;
	}
	li	{
		a	{
			padding: 4px 10px;
			display: block;
			color: $sidebar-link;
			&:hover	{
				background-color: $sidebar-link-hover;
			}
		}
		.current	{
			background-color: $sidebar-link-current;
		}
	}
}
