---
styles: [index.css, sidebar.css]
scripts: [sidebar.js]
version: <%= pkg.version %>
---

<div class="wrapper jsc-sidebar-content jsc-sidebar-pulled">
	<nav>
		<a href="#" class="icon-menu link-menu jsc-sidebar-trigger"></a>
	</nav>
	<section class="main-content">
		<h1 class="headline"><span class="headline-main">Sidebar</span>JS</h1>
		<p>v {{version}} beta</p>
		<p>SidebarJS is a jQuery plugin for side navigation.</p>
		<p class="download"><a href="http://github.com/makotot/sidebar/" class="btn-download">Download</a></p>
	<section>
</div>
