---
styles: [index.css, sidebar.css]
scripts: [sidebar.js]
---

<div class="wrapper jsc-sidebar-content jsc-sidebar-pulled">
	<section>
		<p><a href="#" class="icon-menu link-menu jsc-sidebar-trigger"></a></p>
	</section>
	<section class="main-content">
		<h1 class="headline"><span class="headline-main">Sidebar</span>JS</h1>
		<p>v 0.0.1</p>
		<p>SidebarJS is a jQuery plugin for side navigation.</p>
		<p class="download"><a href="" class="btn-download">Download</a></p>
	<section>
</div>
