<nav class="sidebar jsc-sidebar" id="jsi-nav">
	<ul class="sidebar-list">
		<li><a href="./" class="current">SidebarJS</a></li>
		<li><a href="#">View on Github</a></li>
		<li><a href="#">Download</a></li>
	</ul>
</nav>
