<nav class="sidebar jsc-sidebar" id="jsi-nav" data-sidebar-options="">
	<ul class="sidebar-list">
		<li><a href="./" class="current">SidebarJS</a></li>
		<li><a href="http://github.com/makotot/sidebar/">View on Github</a></li>
		<li><a href="http://github.com/makotot/sidebar/releases">Download</a></li>
	</ul>
</nav>
