@charset "UTF-8";

$base: #6E6E6E;
$base-link: #515151;

$border: #6C6C6C;
$bg: #FEFEFE;

$link-menu-hover: #807D7D;

$headline-main: #3C3C3C;

$btn-bg: #424242;
$btn: #FFFFFF;
$btn-bg-hover: #6C6C6C;
$btn-hover: #ECECEC;
$btn-border-hover: #424242;

$sidebar-bg: #312F2F;
$sidebar-link: #CECECE;
$sidebar-link-hover: #424242;
$sidebar-link-current: #66657A;

$selection-bg: #E77878;
$selection: #FFFFFF;
